# Ignorowanie folderów wirtualnych środowisk
venv/
*/venv/

# Ignorowanie plików tymczasowych i kompilowanych
__pycache__/
*.pyc
*.pyo

# Ignorowanie logów
*.log
logs/

# Ignorowanie danych testowych
tests/*.pdf

# Ignorowanie plików IDE
.vscode/
.idea/
*.swp

TODO.txt

