# Core dependencies
langchain==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0
langchain-openai==0.1.7
langchain-community==0.3.0
langsmith==0.2.10
openai==1.6.1
tiktoken==0.8.0
pandas==2.2.3
numpy==1.26.4

# Utilities
python-dotenv==1.0.1
requests==2.32.3

# Development tools
nest-asyncio==1.6.0
tenacity==8.5.0
pydantic==1.10.12

# Files processing
chromadb==0.3.26
pymupdf==1.22.5
unstructured==0.8.1